.radio-input-201 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-input-201 * {
    box-sizing: border-box;
}

.radio-input-201 label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 220px;
    cursor: pointer;
    height: 50px;
    position: relative;
    user-select: none;
}

.radio-input-201 label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.radio-input-201 label:hover::before {
    background-color: #2a2e3c;
}

.radio-input-201 label:has(input:checked)::before {
    background-color: #2d3750;
    border-color: #435dd8;
    height: 50px;
}

.radio-input-201 .text {
    color: #fff;
    margin: 0;
    font-weight: 500;
}

.radio-input-201 input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #435dd8;
    cursor: pointer;
}

.radio-input-201 input[type="radio"]:checked {
    background-color: #435dd8;
    animation: pulse 0.7s forwards;
}

.radio-input-201 input[type="radio"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(0);
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.radio-input-201 input[type="radio"]:checked::before {
    transform: scale(1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.radio-input-202 {
    display: inline-block;
}

.radio-input-202 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radio-input-202 input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.radio-input-202 label {
    display: inline-block;
}

.radio-input-202 label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em 0.9em;
    margin-left: 0.0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    color: #3e4963;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 0.95rem;
    user-select: none;
}

.radio-input-202 label:first-child span {
    border-radius: 0.375em 0 0 0.375em;
}

.radio-input-202 label:last-child span {
    border-radius: 0 0.375em 0.375em 0;
}

.radio-input-202 input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    color: #0043ed;
    z-index: 1;
}

.radio-input-202 input[type="radio"]:focus+span {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.radio-input-203 {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: black;
    padding: 4px;
    border-radius: 10px;
}

.radio-input-203 input {
    display: none;
}

.radio-input-203 .label {
    width: 90px;
    height: 60px;
    background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: all 0.1s linear;
    border-top: 1px solid #4e4d4d;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.radio-input-203 .label:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.radio-input-203 .label:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radio-input-203 .label:has(input[type="radio"]:checked) {
    box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
    border-top: none;
}

.radio-input-203 .label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 103%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom,
            transparent 10%,
            transparent,
            transparent 90%);
    transition: all 0.1s linear;
    z-index: -1;
}

.radio-input-203 .label:has(input[type="radio"]:checked)::before {
    background: linear-gradient(to bottom,
            transparent 10%,
            #cae2fd63,
            transparent 90%);
}

.radio-input-203 .text {
    color: black;
    font-size: 15px;
    line-height: 12px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s linear;
    text-shadow:
        -1px -1px 1px rgba(224, 224, 224, 0.1),
        0px 2px 3px rgba(0, 0, 0, 0.3);
}

.radio-input-203 input[type="radio"]:checked+.text {
    color: rgb(202, 226, 253);
    text-shadow: 0px 0px 12px #cae2fd;
}

.sb-205-input {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    background-color: #0d1117;
    border-radius: 5px;
}

.sb-205-value {
    position: relative;
    display: flex;
    gap: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: transparent;
}

.sb-205-value:hover:not(:active),
.sb-205-value:focus {
    background-color: #21262c;
}

.sb-205-value:focus,
.sb-205-value:active {
    outline: none;
    background-color: #1a1f24;
}

.sb-205-value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    opacity: 0;
    border-radius: 5px;
    background-color: #2f81f7;
}

.sb-205-value:focus::before,
.sb-205-value:active::before {
    opacity: 1;
}

.rb-204-radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #eee;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.rb-204-radio {
    flex: 1 1 auto;
    text-align: center;
}

.rb-204-radio input {
    display: none;
}

.rb-204-name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    color: rgb(51, 65, 85);
    transition: all 0.15s ease-in-out;
}

.rb-204-radio input:checked+.rb-204-name {
    background-color: #fff;
    font-weight: 600;
}

.rb-206-radio-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rb-206-radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.rb-206-label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    width: 220px;
    cursor: pointer;
    height: 50px;
    position: relative;
}

.rb-206-label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.rb-206-label:hover::before {
    transition: all 0.2s ease;
    background-color: #2a2e3c;
}

.rb-206-label:has(input:checked)::before {
    background-color: #2d3750;
    border-color: #435dd8;
    height: 50px;
}

.rb-206-text {
    color: #fff;
}

.rb-206-label input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rb-206-label input[type="radio"]:checked {
    background-color: #435dd8;
    animation: rb-206-pulse 0.7s forwards;
}

.rb-206-label input[type="radio"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
}

.rb-206-label input[type="radio"]:checked::before {
    transform: scale(1);
}

@keyframes rb-206-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.rb-207-container {
    display: flex;
    flex-direction: row;
}

.rb-207-radio-wrapper {
    position: relative;
    height: 38px;
    width: 84px;
    margin: 3px;
}

.rb-207-input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.rb-207-btn {
    --primary: #ff184c;
    --shadow-primary: #fded00;
    --color: #fff;
    --font-size: 9px;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(11% 0,
            95% 0,
            100% 25%,
            90% 90%,
            95% 90%,
            85% 90%,
            85% 100%,
            7% 100%,
            0 80%);
    --border: 5px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%,
            100% 2%,
            100% 95%,
            95% 95%,
            95% 90%,
            85% 90%,
            85% 95%,
            8% 95%,
            0 70%);
    --clip-two: polygon(0 78%,
            100% 78%,
            100% 100%,
            95% 100%,
            95% 90%,
            85% 90%,
            85% 100%,
            8% 100%,
            0 78%);
    --clip-three: polygon(0 44%,
            100% 44%,
            100% 54%,
            95% 54%,
            95% 54%,
            85% 54%,
            85% 54%,
            8% 54%,
            0 54%);
    --clip-four: polygon(0 0,
            100% 0,
            100% 0,
            95% 0,
            95% 0,
            85% 0,
            85% 0,
            8% 0,
            0 0);
    --clip-five: polygon(0 0,
            100% 0,
            100% 0,
            95% 0,
            95% 0,
            85% 0,
            85% 0,
            8% 0,
            0 0);
    --clip-six: polygon(0 40%,
            100% 40%,
            100% 85%,
            95% 85%,
            95% 85%,
            85% 85%,
            85% 85%,
            8% 85%,
            0 70%);
    --clip-seven: polygon(0 63%,
            100% 63%,
            100% 80%,
            95% 80%,
            95% 80%,
            85% 80%,
            85% 80%,
            8% 80%,
            0 70%);

    color: var(--color);
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: 3px;
    position: relative;
    font-weight: 900;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
    transition: background 0.2s, 0.3s;
}

.rb-207-input:checked+.rb-207-btn {
    --primary: #8b00ff;
    --shadow-primary: #00e572;
}

.rb-207-input:hover+.rb-207-btn {
    --primary: #cc133c;
    --font-size: 11px;
}

.rb-207-btn::before,
.rb-207-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: var(--clip);
    z-index: -1;
}

.rb-207-btn::before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
}

.rb-207-btn::after {
    background: var(--primary);
}

.rb-207-btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow:
        2px 2px var(--shadow-primary),
        -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: rb-207-glitch 2s infinite;
    display: none;
}

.rb-207-input:hover+.rb-207-btn .rb-207-btn__glitch {
    display: block;
}

.rb-207-input:checked+.rb-207-btn .rb-207-btn__glitch {
    display: block;
    animation: rb-207-glitch 5s infinite;
}

.rb-207-btn__glitch::before {
    content: "";
    position: absolute;
    inset: var(--border);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
}

.rb-207-number {
    background: var(--shadow-primary);
    color: #323232;
    font-size: 5.5px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    width: 15px;
    height: 6px;
    top: 0;
    left: 81%;
    line-height: 6.2px;
}

@keyframes rb-207-glitch {
    0% {
        clip-path: var(--clip-one);
    }

    2%,
    8% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }

    6% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    9% {
        clip-path: var(--clip-two);
        transform: translate(0, 0);
    }

    10% {
        clip-path: var(--clip-three);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    13% {
        clip-path: var(--clip-three);
        transform: translate(0, 0);
    }

    14%,
    21% {
        clip-path: var(--clip-four);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    25% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    30% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }

    35%,
    45% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * -1%));
    }

    40% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * 1%));
    }

    50% {
        clip-path: var(--clip-six);
        transform: translate(0, 0);
    }

    55% {
        clip-path: var(--clip-seven);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    60% {
        clip-path: var(--clip-seven);
        transform: translate(0, 0);
    }

    31%,
    61%,
    100% {
        clip-path: var(--clip-four);
    }
}